@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&display=swap');
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: "Bebas Neue", serif; */
    font-size: 15px;
}

.page-outer {
    /* background-color: #f0f0f0; */
    width: 90%;
    margin: auto;
    padding-left: 50px;
}

.fields {
    padding: 15px;
}

.select-model {
    padding: 10px;
    /* display: flex; */
    margin: auto;
    /* justify-content: center; */
    /* center horizontally */
    /* align-items: center; */
    /* center vertically */
    /* height: 100vh; */
    /* background-color: aquamarine; */
}

.form-width {
    width: 80%;
    height: 100px;
    margin-right: 5px;
}

.table {
    font-size: 12px;
    padding: 15px;
}

.table tr td {
    text-align: start;
}

@media (max-width: 768px) {
    .user-detail {
        width: 80%;
    }
    .btn {
        width: 85%;
        padding: 10px;
    }
    .page-outer {
        width: 90%;
        /* margin: auto; */
        padding-left: 10px;
        margin-left: 30px;
    }
    .form-width {
        width: 85%;
    }
    .tbl {
        width: 70%;
        margin-left: 70px;
    }
}