@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&display=swap');
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: "Bebas Neue", serif; */
    font-size: 15px;
}

a {
    text-decoration: none;
}

.main-content-container {
    display: flex;
    /* Make children align horizontally */
    min-height: 100vh;
    /* Full page height */
}

.sidebar-containers {
    width: 250px;
    /* Fixed width for sidebar */
    background-color: #0e3040;
    /* Sidebar color */
    color: white;
    transition: width 0.3s ease;
    /* Smooth collapse/expand */
    margin-top: -100px;
}

.logo {
    margin-left: -2px;
    margin-bottom: 10px;
}

.content {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    /* margin: auto; */
}

.sidebar {
    height: 100vh;
    background-color: #343a40;
    color: white;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    white-space: nowrap;
    /* Prevents text wrapping */
    z-index: 8000;
}

.sidebar-expanded {
    width: 220px;
    transition: width 0.8s;
}

.sidebar-collapsed {
    width: 70px;
    transition: width 0.8s;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: darkgoldenrod;
    color: rgb(24, 102, 6);
    margin-top: -50px;
}

.list-group-item {
    border: none;
    background: none;
}

.list-group-item a {
    display: flex;
    align-items: center;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.list-group-item a:hover {
    background-color: #495057;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.list-group-item i {
    margin-right: 10px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .sidebar-collapsed {
        width: 47px;
        transition: width 0.8s;
    }
    .toggle-btn {
        background-color: darkgoldenrod;
        color: blue;
    }
    .sidebar-expanded {
        width: 150px;
        transition: width 0.8s;
    }
    .list-group-item a {
        align-items: left;
        padding: 5px;
        margin-left: -12px;
    }
    .logo {
        margin-left: -4px;
        margin-bottom: 10px;
    }
}